# Custom IoC exception list.
# Format: <ioc-type>:<value>
# Supported types: url, ip-dst, domain, email-src, md5, sha1, sha256

# Examples:
# domain:example.com
# domain:example.org
# domain:example.net
# domain:localhost
# domain:packages.npm.org
# domain:registry.npmjs.org
# domain:registrar-servers.com
# email-src:noreply@example.com